{% extends "template.html" %}
{% block content %}

<div class="container">
    <form action="" method="">
        <div class="section">


            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>


                <div class="col s12 m6 z-depth-5" id="team1">
                    <div class="icon-block center">
                        <i class="mdi-file-cloud-done orange-text large"></i>
                        <h6 class="center">{{ message }}</h6>
                    </div>
                </div>
                <div class="col s12 m3">
                    <div class="icon-block">
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

{% endblock %}