{% extends "template.html" %}
{% block style %}
    <style>
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

</style>
{% endblock %}
{% block script %}
<script>
        $(document).ready(function () {

            $('#banner').addClass('animated fadeInDown');
        });
</script>
{% endblock %}

{% block content %}

    <div class="container animated fadeIn">
        <form action="/teams" method="get">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m3">
                        <div class="icon-block">
                            <br>
                        </div>
                    </div>


                    <div class="col s12 m6 z-depth-5" id="team1">
                        <div class="icon-block">
                            <div class="center">
                                <button class="btn-flat waves-effect waves-light orange darken-1 white-text"
                                        type="submit"
                                        name="action" value="Send">Start Match
                                    <i class="mdi-content-send right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="icon-block">
                            <br>


                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 m3">
                        <div class="icon-block">
                            <br>
                        </div>
                    </div>


                    <div class="col s12 m6 z-depth-5" id="team1">
                        <div class="icon-block">

                            <ul class="collapsible" data-collapsible="accordion">
                                <li>
                                    <div class="collapsible-header green-text"><i class="mdi-action-help green-text"></i>What is Skorr??
                                    </div>
                                    <div class="collapsible-body grey-text"><p>Cricket happens to be an awesome game. Its a
                                        religion for a bunch (Around 2 Billion) of people. Budding cricketers
                                        play on small roads and grounds in thousands of matches all over the globe. What
                                        Skorr aims is to ease scoring of such impromptu matches. All you need is a
                                        smartphone and you are on.
                                        In our beta phase we will start by tracking batsman stats. Our apologies to the
                                        bowlers. We promise to support you soon.
                                    </p></div>
                                </li>
                                <li>
                                    <div class="collapsible-header red-text"><i class="mdi-action-info"></i>What we are not:
                                    </div>
                                    <div class="collapsible-body grey-text"><p>We don't plan to be a cricket stats database for
                                        international/first class/state level matches. Our focus is strictly local.</p>
                                    </div>
                                </li>
                                 <li>
                                    <div class="collapsible-header green-text"><i class="mdi-action-speaker-notes"></i>Limitations:
                                    </div>
                                    <div class="collapsible-body grey-text"><p>This is version 0.1. Functionality is congruent to that. No bowler support. If you try to break the
                                    software, it will break. We are giving you a knife. You can carve but also cut yourself.</p>
                                    </div>
                                </li>

                            </ul>


                        </div>
                    </div>
                    <div class="col s12 m3">
                        <div class="icon-block">
                            <br>


                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

{% endblock %}