{% extends "template.html" %}
{% block style %}
    <style>
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

</style>
{% endblock %}
{% block script %}

    <script type="text/javascript"
            src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var invalid = false;
        var noball = false;
        var wide = false;
        var bye =false;
        var legbye=false;
        var wicket=false;
        var strikerout = false;
        var noballextra = false;

        function setinvalid(val) {
            invalid = val;
        }

        function setnoball(val) {
            noball = val.checked;
            setinvalid(val.checked);
        }

         function setnoballextra(val) {
            noballextra = val.checked;
             setinvalid(val.checked);
        }

        function setwide(val) {
            wide = val.checked;
            setinvalid(val.checked);
        }

        function setbye(val) {
            bye = val.checked;
        }

        function setlegbye(val) {
            legbye = val.checked;
        }

        function setwicket(val) {
            wicket = val.checked;
        }

        function setstrikerout(val) {
            strikerout = val.checked;
        }

        function getinvalid() {

            return invalid;
        }

        function getnoball() {
            return noball;
        }

         function getnoballextra() {
            return noballextra;
        }

        function getwide() {
            return wide;
        }

        function getbye() {
            return bye;
        }

        function getlegbye() {
            return legbye;
        }

        function getwicket() {
            return wicket;
        }

        function getstrikerout() {
            return strikerout;
        }

        $(document).ready(function () {
            $('select').material_select();
            $('.modal-trigger').leanModal();
            $('#banner').remove();


            namespace = '/test'; // change to an empty string to use the global namespace

            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            socket.on('connect', function () {
                var mat = {{ mtch }};
                socket.emit('join', {room: mat});
                socket.emit('my event', {
                    data: '',
                    invalid: getinvalid(),
                    noball: getnoball(),
                    wide: getwide(),
                    bye: getbye(),
                    legbye: getlegbye(),
                    wicket: getwicket(),
                    strikerout: getstrikerout(),
                    noballextra: getnoballextra()
                });

            });
                        socket.on('undo response', function (msg) {
                                            Materialize.toast(msg.count + ': ' + msg.data, 1000);

                        });



            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function (msg) {
                var a = '';
                if (msg.playing == 2) {
                    a = '<br>' + 'Chasing :' + msg.mtotalone;
                }
                Materialize.toast(msg.count + ': ' + msg.data, 1000);
                $('#runs').find('tr').append('<td><h4 class="animated fadeInDown">' + msg.data + '</h4></td>');
                $('#team4').html(msg.mtotal + '/' + msg.wickets + '<br>' + msg.overs + '.' + msg.deliveries + ' Overs' + a);
                $('#team3').html(msg.playerone + ' : ' + msg.playeroneruns + ' <br>' + msg.playertwo + ' : ' + msg.playertworuns);
                $("input:checkbox").prop("checked", false);
                if (msg.endofover) {
                    Materialize.toast('End of over', 1000);
                    $('#runs').find('tr').html('<td><h4 class="animated fadeInDown>End Of Over</h4></td>').delay(1000);
                    $('#runs').delay(1000);

                    $('#runs').find('tr').delay(5000).html('<td><h4> </h4></td>');
                }

                if (msg.endofinnings) {
                    $('#runs').html('<p>End of Innings </p>');
                    window.location = "/pitch/team2";
                }

            });

            // handlers for the different forms in the page
            // these send data to the server in a variety of ways
            $('form#emit').submit(function (event) {
                socket.emit('my event', {
                    data: $('#emit_data').val(),
                    invalid: getinvalid(),
                    noball: getnoball(),
                    wide: getwide(),
                    bye: getbye(),
                    legbye: getlegbye(),
                    wicket: getwicket(),
                    strikerout: getstrikerout()
                });
                return false;
            });
            $('form#broadcast').submit(function (event) {
                socket.emit('my broadcast event', {data: $('#broadcast_data').val()});
                return false;
            });
            $('form#join').submit(function (event) {
                socket.emit('join', {room: $('#join_room').val()});
                return false;
            });
            $('form#leave').submit(function (event) {
                socket.emit('leave', {room: $('#leave_room').val()});
                return false;
            });
            $('form#send_room').submit(function (event) {
                socket.emit('my room event', {room: $('#room_name').val(), data: $('#room_data').val()});
                return false;
            });
            $('form#close').submit(function (event) {
                socket.emit('close room', {room: $('#close_room').val()});
                return false;
            });
            $('form#disconnect').submit(function (event) {
                socket.emit('disconnect request');
                return false;
            });
        });

        function undoFunc()
        {
             namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.emit('undo', {
                data: 1,
                invalid: getinvalid(),
                noball: getnoball(),
                wide: getwide(),
                bye: getbye(),
                legbye: getlegbye(),
                wicket: getwicket(),
                strikerout: getstrikerout()
            });
            return false;
        }

        function submitFunc(i) {
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.emit('my event', {
                data: i,
                invalid: getinvalid(),
                noball: getnoball(),
                wide: getwide(),
                bye: getbye(),
                legbye: getlegbye(),
                wicket: getwicket(),
                strikerout: getstrikerout()
            });
            return false;
        }

        function submitFuncSelBye(sel) {
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.emit('my event', {
                data: sel.value,
                invalid: getinvalid(),
                noball: getnoball(),
                wide: getwide(),
                bye: getbye(),
                legbye: getlegbye(),
                wicket: getwicket(),
                strikerout: getstrikerout()
            });
            initSelec(sel);
            return false;
        }

        function submitFuncSelWicket(sel) {
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            var selval = sel.value;
            var run = selval.split(' ');
            var strikerout = false;
            if (run[1] == '')
                strikerout = true;

            socket.emit('my event', {
                data: run[0],
                invalid: false,
                noball: false,
                wide: false,
                bye: false,
                legbye: false,
                wicket: true,
                strikerout: strikerout
            });
            initSelec(sel);
            return false;
        }

        function submitFuncSelLegBye(sel) {
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.emit('my event', {
                data: sel.value,
                invalid: false,
                noball: false,
                wide: false,
                bye: false,
                legbye: true,
                wicket: false
            });
            initSelec(sel);
            return false;
        }


        function submitFuncSelWideBall(sel) {
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            socket.emit('my event', {
                data: sel.value,
                invalid: true,
                wide: true,
                noball: false,
                bye: false,
                legbye: false,
                wicket: false
            });
            initSelec(sel);
            return false;
        }

        function submitFuncSelNoBall(sel) {
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);
            var selval = sel.value;
            var run = selval.split(' ');
            var nbe = false;
            if (run[1] == 'nbe')
                nbe = true;
            socket.emit('my event', {
                data: run[0],
                invalid: true,
                noball: true,
                wide: false,
                bye: false,
                legbye: false,
                noballextra: nbe,
                wicket: false
            });
            initSelec(sel);
            return false;
        }

        function initSelec(sel) {
            sel.prop('selectedIndex', -1);
        }


    </script>

{% endblock %}

{% block content %}

    <div class="container animated fadeIn">
        <div class="section">

            <div class="row">
                <div class="col s12 m2">
                    <br>
                </div>
                <div class="col s5 m3 z-depth-3" id="team3">
                </div>
                <div class="col s1 m2">
                    <br>
                </div>
                <div class="col s5 m3 z-depth-3" id="team4">
                </div>
            </div>
        </div>


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m2 animated fadeIn" id="batsman">
                <div class="icon-block">
                    <br>
                </div>
            </div>


            <div class="col s12 m8 z-depth-5 animated fadeInRight" id="team1">
                <div class="icon-block">
                    <div class="input-field">

                        <table id="runs">
                            <tbody>
                            <tr>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m2">
                <div class="icon-block">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m12">
                <div class="icon-block center">
                    <button class="btn-floating btn-large waves-effect waves-light red"><i
                            class="mdi-content-add" onclick="submitFunc(0)">0</i></button>

                    <button class="btn-floating btn-large waves-effect waves-light red"><i
                            class="mdi-content-add" onclick="submitFunc(1)">1</i></button>

                    <button class="btn-floating btn-large waves-effect waves-light red"><i
                            class="mdi-content-add" onclick="submitFunc(2)">2</i></button>

                    <button class="btn-floating btn-large waves-effect waves-light red"><i
                            class="mdi-content-add" onclick="submitFunc(3)">3</i></button>

                    <button class="btn-floating btn-large waves-effect waves-light red"><i
                            class="mdi-content-add" onclick="submitFunc(4)">4</i></button>

                    <button class="btn-floating btn-large waves-effect waves-light red"><i
                            class="mdi-content-add" onclick="submitFunc(6)">6</i></button>


                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m2">
                <div class="icon-block center">
                    <br>
                </div>
            </div>
            <div class="col s3 m1">
                <div class="switch center">
                    <label>
                        Wide
                        <input type="checkbox" onchange="setwide(this)">
                        <span class="lever center"></span>
                        no.......Yes
                    </label>
                </div>
            </div>

            <div class="col s3 m1">
                <div class="switch">
                    <label>
                        No ball
                        <input type="checkbox" name="nb" onchange="setnoball(this)">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>

            <div class="col s3 m1">
                <div class="switch">
                    <label>
                        Noball(Ext)
                        <input type="checkbox" onchange="setnoball(this)">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>

            <div class="col s3 m1">
                <div class="switch">
                    <label>
                        Bye <input type="checkbox" onchange="setbye(this)">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
            <div class="col s3 m1">
                <div class="switch">
                    <label>
                        Leg bye <input type="checkbox" onchange="setlegbye(this)">
                        <span class="lever"></span>

                    </label>
                </div>
            </div>
            <div class="col s3 m1">
                <div class="switch">
                    <label>
                        Wicket(S) <input type="checkbox" onchange="setwicket(this)">
                        <span class="lever"></span>

                    </label>
                </div>
            </div>
            <div class="col s3 m1">
                <div class="switch">
                    <label>
                        Wicket(NS) <input type="checkbox" onchange="setstrikerout(this)">
                        <span class="lever"></span>

                    </label>
                </div>
            </div>


        </div>
    </div>

    <footer class="page-footer orange lighten-2">
        <div class="container white-text">
            © Skorr
            <a class="right White-text" target="_blank"  href="/scorecard/{{ mtch }}">Scorecard(Innings)</a>
        </div>
    </footer>

{% endblock %}






